body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(16,0,36);
  background: linear-gradient(90deg, rgba(16,0,36,0.7511379551820728) 0%, rgba(121,9,118,0.7287289915966386) 50%, rgba(0,255,252,1) 100%);
}

button{
  cursor: pointer;
}
